extends layout

block content
    div(id='container')
        div(id='map3d')
        div(id='tweeties')
            div(id='clock')
                div(id='intro') The twock reads...
                div(id='time') loading
            div(id='tweets')